<app-pop-up (closePop)='FecharPopUp()' *ngIf='PopUp'>
  <app-cadastro-planos></app-cadastro-planos>
</app-pop-up>
<div class="container">
  <h1>Lista de Planos</h1>
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Ganhos Mensais</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>Junior Itaú</td>
        <td>R$ 5.200,00</td>
      </tr>
      <tr>
        <td>B</td>
        <td>Pleno - Lambda3</td>
        <td>RS 4.000,00</td>
      </tr>
      <tr>
        <td>C</td>
        <td>Pleno - Itaú</td>
        <td>R$ 7.400,00</td>
      </tr>
    </tbody>
  </table>
  <div class="barra-footer">
    <button class="btn btn-success" type="button" (click)='CadastrarPlano()'>Criar novo</button>
  </div>
  <footer>
    <a class="btn btn-info" [routerLink]="['/home']">Voltar</a>
  </footer>
</div>
