<div>
  <h1>Lista de Planos</h1>
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Ganhos Mensais</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>Junior Itaú</td>
        <td>R$ 5.200,00</td>
      </tr>
      <tr>
        <td>B</td>
        <td>Pleno - Lambda3</td>
        <td>RS 4.000,00</td>
      </tr>
      <tr>
        <td>C</td>
        <td>Pleno - Itaú</td>
        <td>R$ 7.400,00</td>
      </tr>
    </tbody>
  </table>

  <footer>
    <a class="btn" [routerLink]="['/home']">Voltar</a>
  </footer>
</div>
