<div class="container">
  <h1 class="titulo">{{titulo}}</h1>
  <div class="alert alert-danger text-center" *ngIf='mensagemRetorno'>
    {{mensagemRetorno | json}}
  </div>
  <form class="form-cadastro-plano" #form="ngForm">
    <div class="row">
      <div class="col-md-12">
        <label for="titulo">Título</label>
        <input id="titulo" class="form-control" name='titulo' [(ngModel)]='Plano.titulo' #validField='ngModel' required/>
        <div [hidden]='validField.valid || validField.untouched' class="alert alert-danger">
          Preencha o campo Titulo
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="valorInicial">Valor Inicial</label>
        <input
          type="number"
          class="form-control"
          id="valor-inicial"
          name="valorInicial"
          [(ngModel)]='Plano.valorBase'
        />
      </div>
    </div>
  </form>
  <footer>
    <button type="button" class="btn btn-primary" (click)='SalvarClick()'>Salvar</button>
  </footer>
</div>
