<div class="alert alert-danger text-center" *ngIf='mensagemRetorno'>
  {{mensagemRetorno | json}}
</div>
<div class="form-login">
  <h1 class="titulo">Login</h1>
  <form #form='ngForm' >
    <div class="row">
      <div class="col-md-12">
        <label for="username">Usuário</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]='login.UserName'/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="password">Senha</label>
        <div>
          <img class='img-eyes' src='./assets/images/{{imgSenha}}-eye.png' (click)='VisualizarSenha()'/>
          <input
            [type]='tpSenha'
            id="password"
            name="password"
            class="form-control"
            [(ngModel)]='login.Password'
          />
        </div>
      </div>
    </div>
  </form>
  <footer>
    <button type='button' class="btn btn-info" (click)='onRegistrarClick()'>Registrar</button>
    <button type="submit" class="btn btn-primary" (click)='onSubmit()'>Logar</button>
  </footer>
</div>
